.fondo{ 
    padding: 3% 0 3% 0; 
    background-image: url(../img/remeras.webp);
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}
.container{
    width: 33%;
    display: inline-block;
    height: 600px;
}


.h{
    text-align: center;
    text-decoration: underline;
}